<!DOCTYPE html>

<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/addProduct.css">
    <link rel="icon" href="/img/logo.jpg">
    <script src="/js/addProduct.js"></script>
</head>

<body>
    <div class='container'>
        <div class="header">
            <button id="logOut">Log Out</button>

            <h2>Global Trade Connect</h2>

        </div>
        <div class="menu">
            <nav class="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/vendor">Vendor</a></li>
                    <li><a href="/user">User</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="#">Ad</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="regform">
                <form>
                    <fieldset>
                        <h3>{{title}}</h3>
                        <div class="input">
                            <label>Name:</label>
                            <input type="text" placeholder="Enter Name">
                            <br>
                            <br>
                            <label>Vendor:</label>
                            <select>
                                <option value="-1">Select Vendor</option>
                                <option value="1">Vendor 1</option>
                                <option value="2">Vendor 2</option>
                                <option value="3">Vendor 3</option>
                                <option value="4">Vendor 4</option>
                            </select>
                            <br>
                            <br>
                            <label>Quality:</label>
                            <select>
                                <option value="-1">Select Quality</option>
                                <option value="1">Quality A</option>
                                <option value="2">Quality B</option>
                                <option value="3">Quality C</option>
                                <option value="4">Quality D</option>
                            </select>
                            <br>
                            <br>
                            <label>Category:</label>
                            <select>
                                <option value="-1">Select Category</option>
                                <option value="">Dress</option>
                                <option value="">Electronics</option>
                                <option value="">Furniture</option>
                                <option value="">Stationary</option>
                            </select>
                            <br>
                            <br>
                            <label>Subcategory:</label>
                            <select>
                                <option value="-1">Select sub</option>
                                <option value="A">Dress</option>
                                <option value="B"></option>
                                <option value="C"></option>
                                <option value="D"></option>
                            </select>
                            <br>
                            <br>
                            <label>Status:</label>
                            <select>
                                <option value="-1">Select Status</option>
                                <option name="On stock">On stock</option>
                                <option name="Out of stock">Out of stock</option>
                            </select>
                            <br>
                            <br>
                            <label>Price:</label>
                            <input type="text" placeholder="Price of product">
                            <br>
                            <br>
                            <label>Description:</label>
                            <textarea row="3" column="5"></textarea>
                        </div>
                        <div class="btn">
                            <input type="submit" value="Create">
                            <input type="reset" value="Reset">
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>