<!DOCTYPE html>

<head>
    <title>Add User</title>
    <link rel="stylesheet" href="/css/addUser.css">
    <link rel="icon" href="/img/logo.jpg">
    <script src="/js/addUser.js"></script>
</head>

<body>
    <div class='container'>
        <div class="header">
            <button>Log Out</button>

            <h2>Global Connect</h2>

        </div>
        <div class="menu">
            <nav class="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/vendor">Vendor</a></li>
                    <li><a href="/user">User</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="#">Ad</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="regform">
                <form>
                    <fieldset>
                        <h3>Add User</h3>
                        <div class="input">
                            <label>Name:</label>
                            <input type="text" placeholder="Enter Name">
                            <br>
                            <br>
                            <label>Email:</label>
                            <input type="email" placeholder="Enter Email ID ">
                            <br>
                            <br>
                            <label>Password:</label>
                            <input type="password" placeholder="Enter Password ">
                            <br>
                            <br>
                        </div>
                        <div class="btn">
                            <input type="submit" value="Create">
                            <input type="reset" value="Reset">
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>