<!DOCTYPE html>

<head>
    <title>Admin</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/admin.js"></script>

    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/img/logo.jpg">
</head>

<body>
    <div class='container'>
        <div class="header">
            <button id="logOut">Log Out</button>

            <h1>Global Trade Connect</h1>
            
        </div>
        <div class="menu">
            <nav class="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/vendor">Vendor</a></li>
                    <li><a href="/user">User</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="#">Ad</a></li>
                </ul>
            </nav>



        </div>
        <div class="content">
            <br>
            <br>
            <div class="buttons">
                <button>Delete</button>
                <button id="addBtn">Add Admin</button>
                <button id="editBtn">Edit</button>

            </div>
            <br>
            <br>
            <div>
                <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email ID</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- <tr>
                        <input type="checkbox">
                        <td>Admin1</td>
                        <td>admin1</td>
                    </tr> --}}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Admin2</td>
                        <td>admin2@gmail.com</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Admin3</td>
                        <td>admin3@gmail.com</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Admin4</td>
                        <td>admin4@gmail.com</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Admin5</td>
                        <td>admin5@gmail.com</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Admin6</td>
                        <td>admin6@gmail.com</td>
                    </tr>
                </tbody>
            </table>

            </div>
            <br>
            <br>
            
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>