<!DOCTYPE html>

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forget_pwd.css">
    <link rel="icon" href="/img/logo.jpg">
    <script src="/js/forget_pwd.js"></script>
</head>

<body>
    <div class='container'>
        <div class="header">
            <h1>Global Trade Connect</h1>
        </div>
        
        <div class="content">
            <form class="regform">
                    <br>
                    <h2>Recreate Your Password Here</h2>
                    <br>
                    <div class="input">
                        <label>User Name:</label>
                    <input type="text" placeholder="Enter Name">
                    <br>
                    <br>
                    <label>New Password:</label>
                    <input type="password" placeholder="Enter Password">
                    <br>
                    <br>
                    <label>Confirm Password:</label>
                    <input type="password" placeholder="Re-enter Password">
                    </div>
                    <br>
                    <br>
                    <div class="reset">
                    <input type="reset" value="Reset">
                    <a href="/login">Back to Login Page</a>
                    </div>
            </form>
            
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>