<!DOCTYPE html>

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot_pwd.css">
    <link rel="icon" href="/img/logo.jpg">
</head>

<body>
    <div class='container'>
        <div class="header">
            <h2>Global Connect</h2>
        </div>
        
        <div class="content">
            <form class="regform">
                <fieldset>
                    <br>
                    <h3>Recreate Your Password Here</h3>
                    <br>
                    <div class="input">
                        <label>User Name:</label>
                    <input type="text" placeholder="Enter Name">
                    <br>
                    <br>
                    <label>New Password:</label>
                    <input type="password" placeholder="Enter Password">
                    <br>
                    <br>
                    <label>Confirm Password:</label>
                    <input type="password" placeholder="Re-enter Password">
                    </div>
                    <br>
                    <br>
                    <div class="reset">
                    <input type="reset" value="Reset">
                    </div>
                </fieldset>
            </form>
            
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>