<!DOCTYPE html>

<head>
    <title>Login</title>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/img/logo.jpg">
</head>

<body>
    <div class='container'>
        <div class="header">
            <h1>Global Trade Connect</h1>
        </div>

        <div class="content">
            <form class="regform">
                <br>
                <h2>Login</h2>
                <br>
                <div class="input">
                    <label>User Name:</label>
                    <input type="text" placeholder="Enter Name">
                    <br>
                    <br>
                    <label>Password:</label>
                    <input type="password" placeholder="Enter Password">
                    <br>
                </div>
                <br>
                <div class="submit">
                    <input type="submit" value="Login">
                </div>
                <br>
            <a href="/forget-pwd">Forget Password?</a>
            </form>
            <p>--------Don't have an account?--------</p>
            <a class="button" href="/reg1">Create your GTC account</a>

        </div>
        <div class="footer"></div>
    </div>
</body>

</html>