<!DOCTYPE html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="/css/reg.css">
    <link rel="icon" href="/img/logo.jpg">
</head>

<body>
    <div class='container'>
        <div class="header">

            <h2>Global Connect</h2>
            
        </div>
        
        <div class="content">
            <form class="regform">
                <fieldset>
                    <br>
                    <h3>Register Here</h3>
                    <br>
                    <div class="input">
                        <label>User Name:</label>
                    <input type="text" placeholder="Enter Name">
                    <br>
                    <br>
                    <label>Password:</label>
                    <input type="password" placeholder="Enter Password">
                    <br>
                    <br>
                    <label>Re-enter Password:</label>
                    <input type="password" placeholder="Re-enter Password">
                    </div>
                    <br>
                    <br>
                    <div class="submit">
                    <input type="submit" value="Register">
                    </div>
                    <a href="/login">Back To Login Page</a>
                </fieldset>
            </form>
            
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>