<!DOCTYPE html>

<head>
    <title>Users</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/user.js"></script>
    <link rel="icon" href="/img/logo.jpg">
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Global Trade Connect</h1>
        </div>
        <div class="sidebar">
            <button>Log Out</button>
        </div>
        <div class="content">
            <br>
            <br>
            <div>
                <input type="text" placeholder="Search User...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <br>
            <br>
            <br>
            <div class="buttons">
                <button>Delete</button>
                <button id="addBtn">Add User</button>
                <button>Edit</button>
            </div>
            <br>
            <br>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>User 1</td>
                            <td>User1@gmail.com</td>
                        </tr>
                        <tr>
                            <td>User 2</td>
                            <td>User2@gmail.com</td>
                        </tr>
                        <tr>
                            <td>User 3</td>
                            <td>User3@gmail.com</td>
                        </tr>
                        <tr>
                            <td>User 4</td>
                            <td>User4@gmail.com</td>
                        </tr>
                        <tr>
                            <td>User 5</td>
                            <td>User5@gmail.com</td>
                        </tr>
                        <tr>
                            <td>User 6</td>
                            <td>User6@gmail.com</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <br>
        </div>
        <div class="menu">
             <nav class="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/vendor">Vendor</a></li>
                    <li><a href="/user">User</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="#">Ad</a></li>
                </ul>
            </nav>

        </div>


        <div class="footer">
            <div>
                <button>Previous</button>
                <button>Next</button>
            </div>
        </div>
    </div>

</body>

</html>