<!DOCTYPE html>

<head>
    <title>Vendor</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/vendor.js"></script>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="icon" href="/img/logo.jpg">
</head>

<body>
    <div class='container'>
        <div class="header">
            <button id="logOut">Log Out</button>

            <h1>Global Trade Connect</h1>

        </div>
        <div class="menu">
            <nav class="nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/vendor">Vendor</a></li>
                    <li><a href="/user">User</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="#">Ad</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <br>
            <br>
            <div>
                <input type="text" placeholder="Search Products" >
            <i class="fa-solid fa-magnifying-glass"></i> 
            </div>
            <br>
            <br>
            <div class="buttons">
                <button>Delete</button>
                <button id="addBtn">Add</button>
                <button id="editBtn">Edit</button>

            </div>
            <br>
            <br>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Plan</th>
                            <th>Email ID</th>
                            <th>Revenue</th>
                            <th>Company Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Vendor1</td>
                            <td>Plan A</td>
                            <td>vendor1@gmail.com</td>
                            <td>80,000</td>
                            <td>XYZ pvt.ltd</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Vendor2</td>
                            <td>Plan D</td>
                            <td>vendor2@gmail.com</td>
                            <td>1,00,000</td>
                            <td>ARK pvt.ltd</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Vendor3</td>
                            <td>Plan C</td>
                            <td>vendor3@gmail.com</td>
                            <td>30,000</td>
                            <td>TWZ pvt.ltd</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Vendor4</td>
                            <td>Plan B</td>
                            <td>vendor4@gmail.com</td>
                            <td>73,000</td>
                            <td>TMT pvt.ltd</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Vendor5</td>
                            <td>Plan A</td>
                            <td>vendor5@gmail.com</td>
                            <td>10,000</td>
                            <td>LOK pvt.ltd</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Vendor6</td>
                            <td>Plan B</td>
                            <td>vendor6@gmail.com</td>
                            <td>85,000</td>
                            <td>XBA pvt.ltd</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <button>Previous</button>
            <button>Next</button>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>