body{
    height: 100%;
     background-color: #C3F8FF;
    background: url('/img/bg_13.jpg');

}

h2 {
    color: #FFD662FF;

    text-align: center;
    font-size: 40px;

}

.regform{
    margin-left: 30px;
}


.regform label{
    color:  rgb(244, 223, 244);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.regform h3{
    color: rgb(223, 137, 223);
    font-size: 30px;
}

 .input input{
    width: 15%;
    font-size:1em;
    border: 1.5px solid pink;
    padding: 5px 5px;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
}

.submit input{
    padding: 3px 3px;
    font-weight: bold;
}
 
.input input:focus{
    background-color: #dcd8be;
}
 